{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'messages.html'%}
<br/><br/><br/>
<div class="page-wrapper">
  <div class="page-content">
<body class="bg-theme bg-theme1">
	<!-- wrapper -->

	<div class="wrapper">
		<div class="authentication-reset-password d-flex align-items-center justify-content-center">
			<div class="row">
				<div class="col-12 col-lg-10 mx-auto">
					<div class="card">
						<div class="row g-0">
							<div class="col-lg-5 border-end">
								<div class="card-body">
									<div class="p-5">
										<div class="text-start">
											<img src="{% static 'images/logo-icon.png' %}" width="180" alt="">
										</div>
										<h4 class="mt-5 font-weight-bold">Generate New Password</h4>
										<p class="">We received your reset password request. Please enter your new password!</p>
										<form method="post" action="">
											{% csrf_token %}
											<!-- <div class="col-12">
												<label for="inputChoosePassword" class="form-label">Password</label>
												<div class="input-group" id="show_hide_password">
													<input type="password" class="form-control border-end-0" id="inputChoosePassword" value="12345678" placeholder="Enter Password"> <a href="javascript:;" class="input-group-text"><i class='bx bx-hide'></i></a>
												</div>
											</div> -->
											{{ form|crispy }}
    
										<!-- <div class="mb-3 mt-5">
											<label for="inputChoosePassword" class="form-label">New Password</label>
												<div class="input-group" id="show_hide_password">
													<input type="password" name="password1" class="form-control border-end-0" id="inputChoosePassword"  placeholder="Enter New Password" required> <a href="javascript:;" class="input-group-text"><i class='bx bx-hide'></i></a>
												</div>
										</div>
										<div class="mb-3">
											<label for="inputChoosePassword" class="form-label">Confirm Password</label>
												<div class="input-group" id="show_hide_password">
													<input type="password" name="password2" class="form-control border-end-0" id="inputChoosePassword"  placeholder="Confirm Password" required> <a href="javascript:;" class="input-group-text"><i class='bx bx-hide'></i></a>
												</div>
										</div> -->
										<div class="d-grid gap-2">
											<button type="submit" class="btn btn-light">Change Password</button> 
										</div>
										
									</form>
									<div><a href="{% url 'login' %}" class="btn btn-light"><i class='bx bx-arrow-back mr-1'></i>Back to Login</a></div>
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<img src="{% static 'images/login-images/forgot-password-frent-img.jpg' %}" class="card-img login-img h-100" alt="...">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
			</div>
	</div>
	<!-- end wrapper -->
	<script>
		$(document).ready(function () {
			$("#show_hide_password a").on('click', function (event) {
				event.preventDefault();
				if ($('#show_hide_password input').attr("type") == "text") {
					$('#show_hide_password input').attr('type', 'password');
					$('#show_hide_password i').addClass("bx-hide");
					$('#show_hide_password i').removeClass("bx-show");
				} else if ($('#show_hide_password input').attr("type") == "password2") {
					$('#show_hide_password input').attr('type', 'text');
					$('#show_hide_password i').removeClass("bx-hide");
					$('#show_hide_password i').addClass("bx-show");
				}
			});
		});
	</script>
	{% endblock %}
	