{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'messages.html'%}
<body class="bg-theme bg-theme1">
	<!-- wrapper -->
		<div class="page-wrapper">
  <div class="page-content">
	<div class="wrapper">
		<div class="authentication-forgot d-flex align-items-center justify-content-center">
			<div class="card forgot-box">
				<div class="card-body">
					<div class="p-4 rounded  border">
						<div class="text-center">
							<img src="{% static 'images/icons/forgot-2.png' %}" width="120" alt="" />
						</div>
						<h4 class="mt-5 font-weight-bold">Forgot Password?</h4>
						<p class="">Enter your registered Email Address to reset the password</p>
						<form method="post" action="{% url 'password_reset' %}">
						{% csrf_token %}
							<div class="my-4">
							<label class="form-label">Email Address</label>
							<input type="email" name="email" class="form-control form-control-lg" placeholder="example@user.com" required/>
						</div>
						<div class="d-grid gap-2">
							<button type="submit" class="btn btn-light btn-lg">Send</button> <a href="{% url 'login' %}" class="btn btn-light btn-lg"><i class='bx bx-arrow-back me-1'></i>Back to Login</a>
						</div>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>
		</div>
	</div>
	
	{% endblock %}
