
{% load static %}
<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/img/favicon.png'%}">
    <title>Hurrray!!</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/fullcalendar.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/plugins/morris/morris.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
</head>


<body>
    <div class="main-wrapper coming-wrapper">
        <div class="table-cell">
            <div class="container">
                {% include 'messages.html' %}
                <div class="title-section">
                    <h1 class="coming-title">Account Creation Success</h1>
                    <p class="sub-title">Welcome To Employee Overtime-Working Management System <br/>
                        Your Account has been Createsd Successifully.</p>
                </div>
                
                   <h5 style="text-align:center; color:orangered">Pleace Check your email to Verify your Account first! Thank You.</h5>
                    
                </div>
                
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static '/js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/app.js' %}"></script>
</body>

</html>