{% extends "base.html" %}
{% block content %}
{% load static %}
        <div class="page-wrapper">
            {% include 'messages.html' %}
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-xs-5">
                        <h4 class="page-title">Department</h4>
                    </div>
                    <div class="col-xs-7 text-right m-b-30">
                        <a href="#" class="btn btn-primary rounded" data-toggle="modal" data-target="#add_department"><i class="fa fa-plus"></i> Add New Department</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <table class="table table-striped custom-table m-b-0 datatable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Department Name</th>
                                        <th>Employees</th>
                                        <th>Minimum Salary</th>
                                        <th>Maximum Salary</th>
                                        
                                        <th>Overtime Per Hour</th>
                                        <th class="text-right">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%  for depart in departments %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{depart.department_name}}</td>
                                        <td>{{depart.number_of_employees}}</td>
                                        <td>{{depart.minimum_salary}}</td>
                                        <td>{{depart.maximum_salary}}</td>
                                        <td>{{depart.overtime_pay_perhour}}</td>
                                        <td class="text-right">
                                            <div class="dropdown">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="#" data-toggle="modal" data-target="#edit_department" title="Edit"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                                    <li><a href="#" data-toggle="modal" data-target="#delete_department" title="Delete"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        
        <div id="delete_department" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Department</h4>
                    </div>
                    <div class="modal-body card-box">
                        <p>Are you sure want to delete this?</p>
                        <div class="m-t-20 text-left">
                            <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="add_department" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Department</h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'departments' %}">
                            {% csrf_token %}
                          
                                <div class="form-group">
                                    <label>Select Company</label>
                                    <select class="form-control select" name="company" required>
                                        {% for com in company %}
                                        <option>{{com.company_name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            <div class="form-group">
                                <label>Department Name <span class="text-danger">*</span></label>
                                <input class="form-control" required name="department_name" placeholder="It department" type="text">
                            </div>
                             <div class="form-group">
                                <label>Number of Employees <span class="text-danger">*</span></label>
                                <input class="form-control" required placeholder="12" name="number_of_employees" type="text">
                            </div>
                             <div class="form-group">
                                <label>Minimum Salary (Kes)<span class="text-danger">*</span></label>
                                <input class="form-control" required placeholder="45000" name="minimum_salary" type="text">
                            </div>
                             <div class="form-group">
                                <label>Maximum Salary (Kes)<span class="text-danger">*</span></label>
                                <input class="form-control" required placeholder="78000" name="maximum_salary" type="text">
                            </div>
                             <div class="form-group">
                                <label> Overtime Rates (Kes)<span class="text-danger">*</span></label>
                                <input class="form-control" required placeholder="200" name="overtime_pay_perhour" type="text">
                            </div>

                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary btn-lg" type="submit">Create Department</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit_department" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Department</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label>Department Name <span class="text-danger">*</span></label>
                                <input class="form-control" value="IT Management" type="text">
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary btn-lg">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}