{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    {% include 'messages.html' %}
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    {% if request.user.is_hr %}
                    
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-info"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h4>{{employees}}</h4>
                                <span>Employees</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-success"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h4>Kes {{total_overtime}}</h4>
                                <span>Total Overtime</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-info"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h4>{{overtime_hours}}</h4>
                                <span>Total Hours</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-6">
                        <div class="panel task-panel">
                            <div class="panel-heading">
                                <div class="navbar">
                                    <div class="pull-left">
                                        <div class="add-task-btn-wrapper">
                                            <span class="add-task-btn btn btn-default btn-xs">
													Add Task
												</span>
                                        </div>
                                    </div>
                                    <ul class="nav navbar-nav pull-right custom-menu">
                                        <li class="dropdown">
                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="javascript:void(0)">Pending Tasks</a></li>
                                                <li><a href="javascript:void(0)">Completed Tasks</a></li>
                                                <li><a href="javascript:void(0)">All Tasks</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="task-wrapper">
                                    <div class="task-list-container">
                                        <div class="task-list-body">
                                            <ul id="task-list">
                
                                            </ul>
                                        </div>
                                        <div class="task-list-footer">
                                            <div class="new-task-wrapper">
                                                <textarea id="new-task" placeholder="Enter new task here. . ."></textarea>
                                                <span class="error-message hidden">You need to enter a task first</span>
                                                <span class="add-new-task-btn btn" id="add-task">Add Task</span>
                                                <span class="cancel-btn btn" id="close-task-panel">Close</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    {% else %}
                    <h4>You are logged in as {{first_name | title}} {{last_name | title}} </h4>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-info"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <span>Date</span>
                                <h4>{{my_day}}</h4>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-info"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h4>{{my_overtime_hours}}</h4>
                                <span>My Active Hours</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-success"><i class="fa fa-money" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h4>Kes {{my_total_overtime}}</h4>
                                <span>Day Earnings</span>
                            </div>
                        </div>
                    </div>
                      <div class="col-md-6 col-sm-6 col-lg-3">
                        <div class="dash-widget dash-widget5">
                            <span class="dash-widget-icon bg-success"><i class="fa fa-usd" aria-hidden="true"></i></span>
                            <div class="dash-widget-info">
                                <h4 style="color:orangered">Kes {{total_earnings}}</h4>
                                <h5>Total Overtime Earnings</h5>
                            </div>
                        </div>
                    </div>

                    <h3> Previous Overtime Records </h3>
                </div>
                   <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table datatable">
                                <thead>
                                    <tr>
                                        <th style="width:30%;">#</th>
                                        <th>Overtime Date</th>
                                        <th>Overtime Hours</th>
                                        <th>Description</th>
                                        <th>Hourly Rate (Kes)</th>
                                        <th>Total (Kes)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for Ot in overtime %}
                                    <tr>
                                        <td>
                                            
                                            <h2>{{ forloop.counter }}</h2>
                                        </td>
                                        <td>{{Ot.overtime_date}}</td>
                                        <td>{{Ot.overtime_hours}}</td>
                                        <td>{{Ot.description}}</td>
                                        <td>{{Ot.overtime_pay}}</td>
                                        <td>{{Ot.total}}</td>
                                        <td>
                                        
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
            </div>
            {% endif %}
                
                   
                
            
       
    {% endblock %}