{% extends "base.html" %}
{% load static %}
{% block content %}
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-xs-4">
                        <h4 class="page-title">Welcome To Overtime</h4>
                    </div>
                    <div class="col-xs-8 text-right m-b-20">
                        <a href="#" class="btn btn-primary rounded pull-right" data-toggle="modal" data-target="#add_employee"><i class="fa fa-plus"></i> Add Overtime</a>
                        <div class="view-icons">
                            <a href="#" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                            <a href="#" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                {% include "messages.html" %}
                
              <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped custom-table datatable">
                                <thead>
                                    <tr>
                                        <th style="width:30%;">Name</th>
                                        <th>Overtime Date</th>
                                        <th>Overtime Hours</th>
                                        <th>Description</th>
                                        <th>Hourly Rate (Kes)</th>
                                        <th>Total (Kes)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for Ot in overtime %}
                                    <tr>
                                        <td>
                                            <a href="#" class="avatar">J</a>
                                            <h2><a href="#">{{Ot.my_employee.first_name}} {{Ot.my_employee.last_name}} <span>Web Designer</span></a></h2>
                                        </td>
                                        <td>{{Ot.overtime_date}}</td>
                                        <td>{{Ot.overtime_hours}}</td>
                                        <td>{{Ot.description}}</td>
                                        <td>{{Ot.overtime_pay}}</td>
                                        <td>{{Ot.total}}</td>
                                        <td>
                                        
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
            </div>

            
        <div id="add_employee" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-content modal-lg">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Overtime</h4>
                    </div>
                    <div class="modal-body">
                        {% include 'messages.html' %}
                        <form  method="post" action="{% url 'employees' %}">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">First Name <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" required name="first_name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Last Name</label>
                                        <input class="form-control" type="text" required name="last_name">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Username <span class="text-danger">*</span></label>
                                        <input class="form-control" type="text" required name="username">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Email <span class="text-danger">*</span></label>
                                        <input class="form-control" type="email" name="email" required>
                                    </div>
                                </div>
                            
                                
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Employee ID <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" required name="employeeReg_Id">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Address <span class="text-danger">*</span></label>
                                        <div class="cal-icon">
                                            <input class="form-control" type="text" name="address" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Office Phone </label>
                                        <input class="form-control" type="text" required name="phone">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Mobile</label>
                                        <input class="form-control" type="text"  required name="mobile" >
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Company</label>
                                        <select class="select" required name="company">
                                            {% for company in companies %}
                                            <option>{{company.company_name}}</option>
                                           {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Department</label>
                                        <select class="select" required name="department">
                                            {% for dep in departments %}
                                            <option>{{dep.department_name}}</option>
                                            {% endfor%}
                                        </select>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary btn-lg" type="submit">Create Employee</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="edit_employee" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-content modal-lg">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Employee</h4>
                    </div>
                    <div class="modal-body">
                        <form class="m-b-30">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">First Name <span class="text-danger">*</span></label>
                                        <input class="form-control" value="John" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Last Name</label>
                                        <input class="form-control" value="Doe" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Username <span class="text-danger">*</span></label>
                                        <input class="form-control" value="johndoe" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Email <span class="text-danger">*</span></label>
                                        <input class="form-control" value="johndoe@example.com" type="email">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Password</label>
                                        <input class="form-control" value="johndoe" type="password">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Confirm Password</label>
                                        <input class="form-control" value="johndoe" type="password">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Employee ID <span class="text-danger">*</span></label>
                                        <input type="text" value="FT-0001" readonly="" class="form-control floating">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Joining Date <span class="text-danger">*</span></label>
                                        <div class="cal-icon">
                                            <input class="form-control datetimepicker" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Phone </label>
                                        <input class="form-control" value="9876543210" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Company</label>
                                        <select class="select">
                                            <option>Global Technologies</option>
                                            <option>Delta Infotech</option>
                                            <option selected>International Software Inc</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Designation</label>
                                        <select class="select">
                                            <option>Web Developer</option>
                                            <option>Web Designer</option>
                                            <option>SEO Analyst</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary btn-lg">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="delete_employee" class="modal custom-modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content modal-md">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Employee</h4>
                    </div>
                    <form>
                        <div class="modal-body card-box">
                            <p>Are you sure want to delete this?</p>
                            <div class="m-t-20"> <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  {% endblock %}